.review-stars {
    display: flex;
    flex-direction: row;

    .unfilled-stars {
        display: flex;
        flex-direction: row;

        position: relative;
        overflow: hidden;

        .remainder-star {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }
    }
}