.review-stars {
    display: flex;
    flex-direction: row;
    width: 120px;

    .unfilled-stars {
        display: flex;
        flex-direction: row;

        position: relative;
        overflow: hidden;
        height: 24px;

        .remainder-star {
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            overflow: hidden;
        }
    }
}