nav {
    width: 100%;
    height: 70px;
    background-color: $black;
    position: fixed;
    top: 6px;
    left: 0;
    z-index: 1000;
    border-top: 2px solid $red;
    //border-bottom: 2px solid $red;

    display: flex;
    justify-content: center;
    align-items: center;

    .nav-container {
        display: flex;
        width: 100%;
        max-width: 1200px;
        padding: 4px 16px;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            width: 170px;
        
            img {
                width: 48px;
                height: auto;
            }
        
            p {
                color: $white;
                font-family: $fancy-cursive;
                font-size: 24px;
                letter-spacing: 3px;

                margin: 0;
            }
        }
        
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 0;
        
            li {
                justify-content: center;
                position: relative;
                gap: 10px;
                cursor: pointer;
        
                color: $dark-white;
                font-family: $secondary-font;
                font-size: 20px;
                font-weight: 400;
        
                transition: transform 0.2s ease-in-out;
        
                &:hover {
                    transform: scale(1.08);
                    color: $white;
                }
        
                &:focus {
                    color: $white;
                }
        
                &::after {
                    content: '';
                    height: 2px;
                    width: 100%;
                    background: $red;
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    opacity: 0;
                    transition: all 0.2s;
                    pointer-events: none;
                }
        
                &:hover::after,
                &:focus::after {
                    opacity: 1;
                }
            }
        }
        
        .action-items {
            width: 170px;
            display: flex;
            justify-content: center;
            align-items: center;

            .cart {
                position: relative;
                width: 24px;
                height: 24px;

                cursor: pointer;
                transition: transform 0.2s ease-in-out;

                &:hover,
                &:focus {
                    transform: scale(1.1);
                }
            }
        }
    }
}