@font-face {
    font-family: 'Pattaya Regular';
    src: url('../assets/fonts/Pattaya-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Amarante Regular';
    src: url('../assets/fonts/Amarante-Regular.ttf') format('truetype');;
}