@font-face {
    font-family: 'Pattaya';
    src: url('../assets/fonts/Pattaya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amarante';
    src: url('../assets/fonts/Amarante-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Volkhov';
    src: url('../assets/fonts/Volkhov-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}