$fancy-cursive: 'Pattaya';

$primary-font: 'Volkhov';
$secondary-font: 'Amarante';

$red: #bd3030;
$dark-red: #bd303066;

$white: #ffffff;
$dark-white: #dddddd;

$black: #1a1919;
$dark-black: #111;

$background-colour: #242424;